@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  