@font-face {
    font-family: 'Josefin Slab';
    src: url('../assets/fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf') format('truetype');
  }
  