@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_fonts.scss';

// Define color scheme for light theme
$light-theme: (
  primary: #ffffff, // white
  secondary: #000000, // black
  accent: #007BFF, // blue
);

// Define color scheme for dark theme
$dark-theme: (
  primary: #000000, // black
  secondary: #ffffff, // white
  accent: #007BFF, // blue
);

// Generic Theme
.theme {
  color: map-get($light-theme, secondary);
  background-color: map-get($light-theme, primary);
  a {
    color: map-get($light-theme, accent);
  }
  // 3D hover effect
  .hover\:scale-105 {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05) rotateY(20deg);
    }
  }
}

// Light Theme
body.light {
  @extend .theme;
}

// Dark Theme
body.dark {
  color: map-get($dark-theme, secondary);
  background-color: map-get($dark-theme, primary);
  a {
    color: map-get($dark-theme, accent);
  }
  // 3D hover effect
  .hover\:scale-105 {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05) rotateY(20deg);
    }
  }
}

// Define fonts
.font-josefin {
  font-family: 'Josefin Slab', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

// Apply base styles
html, body, #app {
  @apply w-full h-full;
}

// Styling for header
header {
  @apply flex justify-between p-4;
}
